<!doctype html>
<html><head><title>${project}</title></head>
<body style="font-family:sans-serif;background:#232f3e;color:#fff;text-align:center;padding-top:60px">
  <h1>Session 19 &mdash; Cloud &amp; Terraform in Action</h1>
  <p>Served by nginx on EC2 instance <b>__INSTANCE_ID__</b> in <b>__AZ__</b> (${region})</p>
  <p>Page downloaded at boot from S3 bucket <b>${bucket}</b> using the instance's IAM role.</p>
  <p>Everything here was created by Terraform.</p>
</body></html>
