__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.venv/
venv/
.env
*.db
node_modules/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
.terraform.tfstate.lock.info
terraform.tfvars

# Helm
helm/**/charts/*.tgz
